<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.mbr.MemberMapper">
	<resultMap type="com.gms.web.mbr.Member" id="mbr">
		<id property="memId" column="memId"></id>
		<result property="teamId" column="teamId" />
		<result property="name" column="name" />
		<result property="ssn" column="ssn" />
		<result property="roll" column="roll" />
		<result property="password" column="password" />
		<result property="age" column="age" />
		<result property="subject" column="subject" />
		<result property="gender" column="gender" />
	</resultMap>
	<select id="get" resultType="mbr">
	    SELECT memId, teamId, name, ssn, roll, password, age, gender 
	    FROM MEMBER 
	    <where>
	    	<if test=" memId != null and memId != '' ">
	    		memId LIKE #{memId}
	    	</if>
	    	<if test=" password != null and password != '' ">
	    		AND password LIKE #{password}
	    	</if>
	    </where>
	</select>
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		<where>
			<if test=" memId != null and memId != '' ">
				memId LIKE #{memId}
			</if>
		</where>
	</select>
	<insert	id="post" flushCache="true">
	  	INSERT INTO MEMBER ( memId, teamId, name, ssn, roll, password, age, gender, subject)
	  	VALUES (#{memId}, #{teamId}, #{name}, #{ssn}, #{roll}, #{password}, #{age}, #{gender}, '')
  	</insert>
	<update id="put">
		UPDATE MEMBER SET teamId = #{teamId}, roll = #{roll} 
		<if test="password != ''">
		, password = #{password}
		</if>
		WHERE memId LIKE #{memId} 
	</update>
	<delete id="delete">
		DELETE FROM MEMBER
		WHERE memId LIKE #{memId}
		AND password LIKE #{password}
	</delete>
</mapper>